<head>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
  <div id ="top"></div>
  <br>
  <br>
  <%= javascript_include_tag "jquery.vmap" %>
  <%= javascript_include_tag "jquery.vmap.usa" %>
  <script>
    jQuery(document).ready(function() {
                                      jQuery('#vmap').vectorMap({
                  map: 'usa_en',
                  showLabels: true,
                  backgroundColor: 'transparent',
                  borderColor: '#fff',
                  borderOpacity: 0,
                  borderWidth: .2,
                  color: '#70A5FF',
                  enableZoom: false,
                  hoverColor: '#0C750F',
                  hoverOpacity: null,
                  normalizeFunction: 'linear',
                  scaleColors: ['#b6d6ff', '#005ace'],
                  selectedColor: '#0C750F',
                  selectedRegions: null,
                  showTooltip: false,
                  onRegionClick: function(element, code, region)
                  {
                  window.location.href = "#"+region;
                  jQuery('#vmap').vectorMap('deselect', element);
                  }
                  });
                    });
  </script>
  <div id="vmap"></div>
  <table id="super" border="1">
    <th>State</th>
    <th>Polling Data</th>
    <% @states.each do |state| %>
      <tr>
        <td id ="<%= state.state_long %>"><%= state.state_long %></td>
        <td>
          <ul>
            <li>FivethirtyEight Clinton: <%= state.percent_clinton %>%</li>
            <li>FivethirtyEight Trump: <%= state.percent_trump %>%</li>
            <li></li>
            <li></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </table>
  <h3 id ="end">whoooa</h3>
  <a href="#Maryland">mary</a>
</body>