<!DOCTYPE html>
<html>
  <head>
    <title>Can I Vote for Jill Stein?</title>
    <%= favicon_link_tag 'favicon.ico', rel: 'apple-touch-icon' %>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
    <meta property="og:title" content="Can I Vote For Jill Stein?" />
    <meta property="og:image" content="https://www.canIvoteforjill.com/jill.jpg" />
    <meta property="og:description" content="Can you vote for Jill Stein without risking your vote going to Donald Trump?  Take a look at what the most recent data in your state says." />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content="https://www.canIvoteforjill.com" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />
    <meta name="description" content="Can you vote for Jill Stein without risking your vote going to Donald Trump?  Take a look at what the most recent data in your state says.">
    <meta name="keywords" content="Jill Stein, Green Party, Third Party, 3rd Party, Election 2016, Republicans, Democrats, Hillary, Clinton, Donald, Trump">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>